[package]
name = "ggetrs"
version = "0.1.73"
edition = "2021"
license = "MIT"
description = "Efficient querying of biological databases from the command line"
homepage = "https://noamteyssier.github.io/ggetrs/"
repository = "https://github.com/noamteyssier/ggetrs"
documentation = "https://docs.rs/ggetrs"
categories = ["science", "command-line-utilities"]
keywords = ["bioinformatics", "ensembl", "ncbi", "uniprot", "enrichr"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "ggetrs"
crate-type = ["cdylib", "rlib"]

[features]
default = ["pyo3/extension-module"]

[dependencies]
anyhow = "1.0.64"
bitvec = "1.0.1"
chrono = "0.4.22"
clap = { version = "4.0.18", features = ["derive"] }
clap_complete = "4.0.3"
ftp = "3.0.1"
futures = "0.3.24"
indicatif = "0.17.5"
mysql = "23.0.1"
pyo3 = { version = "0.16.5", features = ["extension-module", "anyhow"] }
regex = "1.6.0"
reqwest = { version = "0.11.11", features = ["json", "multipart", "blocking", "stream"] }
serde = { version = "1.0.144", features = ["derive"] }
serde-xml-rs = "0.6.0"
serde_json = "1.0.85"
tokio = { version = "1.21.0", features = ["full"] }
